<section class="content" id="about">
  <div class="block-content">
      <h3 class="block-title">Perfil</h3>
      <h3 class="subheading">¡Hola! soy<strong class="name"> Daniel Perez </strong><strong>Ingeniero de Sistemas & Desarrollador FullStack .Net / Angular</strong></h3>
      <p>Soy un apasionado profesional del desarrollo de software, graduado como ingeniero de sistemas de la Universidad Santo Tomás. Con más de tres años de experiencia en este campo, me he destacado en el desarrollo de APIs Rest en ASP.NET Core y en la creación de interfaces frontEnd utilizando Angular. Mi enfoque se centra en implementar pruebas unitarias para garantizar la fiabilidad y calidad del código. Entre mis logros más destacados se encuentra la creación completa de un sistema de ventas con gestión de informes con SQL Server, .Net Core y Angular. Asimismo, he liderado el desarrollo integral de un e-commerce para la venta de alimentos. Participé activamente en todo el ciclo de vida de la arquitectura de software, desde el levantamiento de requisitos hasta la documentación, asegurando una base sólida para futuras expansiones y mejoras.
      </p>
      <div class="info-list row">
          <div class="col-sm-6"><span>Nombre : </span> Daniel Perez</div>
          <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Abril 6, 1998 </div>
          <div class="col-sm-6"><span>Email : </span> danyy31.perez@gmail.com</div>
          <div class="col-sm-6"><span>Telefono : </span> +57 3184080770</div>
          <div class="col-sm-6"><span>Interes : </span> Full-Time</div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Experiencia</h3>
      <div class="timeline experience">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                      <div *ngFor="let expex of experienciaData">
                        <div class="exp">
                            <div class="hgroup">
                                <h4><span>{{ expex.empresa }}</span> - {{expex.cargo}} </h4>
                                <h5 class="right-aligned"> {{ expex.fecha }} </h5>
                            </div>
                            <ul class="lista-puntos" *ngFor="let punto of expex.descripcion">
                              <li>{{punto}}</li>
                            </ul>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Educación</h3>
      <div class="timeline education">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                    <div *ngFor="let edux of educationData">
                      <div class="exp">
                          <div class="hgroup">
                              <h4>{{  edux.profesion}} | <a href="https://drive.google.com/file/d/142B676fCvofEuhn8fhq_87p18zd-IrPJ/view?usp=sharing" target="_blank"><span>Ver Certificado</span></a></h4>
                              <h5>{{ edux.fecha }}</h5>
                          </div>
                          <p>{{ edux.instituto }}</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Servicios</h3>
      <div class="row">
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-laptop" style="color: #0A5078;"></i>
              </div>
              <h4>Diseño Web</h4>
              <p>Conocimientos en diseño web, mi enfoque se centra en la experiencia del usuario, combinando estética visual con practicidad para generar sitios web que cautivan y retienen a los visitantes.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <!-- <i class="ion-pie-graph"></i> -->
                  <i class="bi bi-database-fill-check" style="color: #00A0C8;"></i>
              </div>
              <h4>Diseño de Bases de Datos</h4>
              <p>En el ámbito del diseño de bases de datos, me especializo en crear estructuras eficientes y escalables que respalden la gestión de datos de manera óptima.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <!-- <i class="ion-settings"></i> -->
                  <i class="bi bi-code-slash" style="color: #FAB400;"></i>
              </div>
              <h4>Desarrollo Back-end</h4>
              <p>Como desarrollador back-end, mi enfoque es la implementación de la lógica y funcionalidades detrás de la interfaz. Utilizo tecnologías robustas como .Net, C#, Java y Asp.Net Core para construir servidores y gestionar la lógica del negocio.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="bi bi-search" style="color: #A00028;"></i>
              </div>
              <h4>Investigación</h4>
              <p>Me mantengo actualizado con las últimas tendencias y tecnologías, lo que me permite ofrecer soluciones innovadoras y actualizadas para cada proyecto.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <!-- <i class="ion-social-buffer"></i> -->
                  <i class="bi bi-file-earmark-code-fill" style="color: #6C19FF;"></i>
              </div>
              <h4>Desarrollo Front-end</h4>
              <p>En el ámbito del desarrollo front-end, garantizo la creación de interfaces responsivas y dinámicas que optimizan la interacción del usuario con diseños visuales. Utilizando tecnologías como Angular, HTML, CSS y TypeScript.</p>
          </div>
      </div>
  </div>

  <!-- <div class="block-content">
      <h3 class="block-title">Testimonios</h3>
      <div class="row">
          <div id="liontestimonial" class="owl-carousel owl-theme">
              <div *ngFor="let testix of cv.testimonio">
                <div class="item testimonials">
                    <img src="assets\images\testimonials\1.jpeg" alt="">
                    <blockquote>{{ testix.Descripcion }}
                        <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
                    </blockquote>
                </div>
            </div>

          </div>
      </div>
  </div> -->
  <div class="row text-center">
    <div class="col-md-12 btn-email">
        <a class="btn lowercase" href="mailto:danyy31.perez@gmail.com">danyy31.perez@gmail.com</a>
    </div>
</div>
</section>
