<section class="content">
  <div class="block-content">
    <h3 class="block-title">Portafolio</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="mb-2">
          <div>
            <button
              class="button mb-2 me-2"
              (click)="isCollapsed = !isCollapsed"
              id="filters"
            >
              Filtro
            </button>
          </div>
        </div>

        <div [collapse]="isCollapsed" [isAnimated]="true">
          <div class="border mb-4 shadow-sm" style="max-width: 390px; width: 100%;">
            <form>
              <div class="row mx-0">
                <div class="col">
                  <small><b>Lenguajes:</b></small>
                  <div class="from-group">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input position-static me-2"
                        [(ngModel)]="tagsState.java"
                        (change)="filtro()"
                        name="Java"
                      />
                      <label class="form-check-label small">Java</label>
                    </div>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input position-static me-2"
                        [(ngModel)]="tagsState.Html"
                        (change)="filtro()"
                        name="Html"
                      />
                      <label class="form-check-label small">Html</label>
                    </div>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input position-static me-2"
                        [(ngModel)]="tagsState.css"
                        (change)="filtro()"
                        name="Css"
                      />
                      <label class="form-check-label small">Css</label>
                    </div>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input position-static me-2"
                        [(ngModel)]="tagsState.TypeScript"
                        (change)="filtro()"
                        name="TypeScript"
                      />
                      <label class="form-check-label small">TypeScript</label>
                    </div>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input position-static me-2"
                        [(ngModel)]="tagsState.JavaScript"
                        (change)="filtro()"
                        name="JavaScript"
                      />
                      <label class="form-check-label small">JavaScript</label>
                    </div>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input position-static me-2"
                        [(ngModel)]="tagsState.Csharp"
                        (change)="filtro()"
                        name="C#"
                      />
                      <label class="form-check-label small">C#</label>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <small><b>Frameworks:</b></small>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.angular"
                      (change)="filtro()"
                      name="Angular"
                    />
                    <label class="form-check-label small">Angular</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.Net"
                      (change)="filtro()"
                      name=".Net Framework"
                    />
                    <label class="form-check-label small">.Net Framework</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.Bootstrap"
                      (change)="filtro()"
                      name="Bootstrap"
                    />
                    <label class="form-check-label small">Bootstrap</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.ASPNET"
                      (change)="filtro()"
                      name="ASP.NET Core"
                    />
                    <label class="form-check-label small">ASP.NET Core</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.node"
                      (change)="filtro()"
                      name="Node.js"
                    />
                    <label class="form-check-label small">Node.js</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.AndroidStudio"
                      (change)="filtro()"
                      name="Android Studio"
                    />
                    <label class="form-check-label small">Android Studio</label>
                  </div>
                </div>
                <div class="col">
                  <small><b>Bases de Datos:</b></small>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.SQLServer"
                      (change)="filtro()"
                      name="SQL Server"
                    />
                    <label class="form-check-label small">SQL Server</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="tagsState.PostgreSQL"
                      (change)="filtro()"
                      name="PostgreSQL"
                    />
                    <label class="form-check-label small">PostgreSQL</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="portfolio-container row" id="portfolio-container">
          <!-- WORK 1 START -->
          <div
            *ngFor="let proyect of proyects"
            class="col-md-6 col-sm-6 col-xs-12 portfolio-item"
          >
            <a class="open-project" (click)="onProyectClick(proyect)">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>{{ proyect.name }}</h2>
                    <hr />
                    <div class="tag" *ngFor="let tag of proyect.tags">
                      <span>{{ tag }}</span>
                    </div>
                    <p>Ver detalles.</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <div *ngFor="let picture of proyect.mainImage">
                  <img [src]="picture" alt="imagen" loading="lazy"/>
                </div>
              </div>
            </a>
          </div>
          <!-- WORK 1 END -->
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
        <a class="btn lowercase" href="mailto:danyy31.perez@gmail.com">danyy31.perez@gmail.com</a>
    </div>
</div>
</section>
