<section class="content">
  <div class="block-content">
      <h3 class="block-title">Sobre Mi</h3>
      <div class="section">
        <div id="about">
          <h4 class="section_text_p1">Daniel Perez</h4>
          <div class="section-container">
            <div class="section_pic-container">
              <img src="assets/images/preflink.webp" alt="imagen perfil" class="about-pic" loading="lazy">
            </div>
            <div class="text-container">
              <p>Soy un apasionado profesional de desarrollo de software con un compromiso constante de mejorar mis habilidades técnicas. Egresado de la Universidad Santo Tomás como ingeniero de sistemas, cuento con más de tres años de experiencia en el desarrollo de aplicaciones web responsivas de alto rendimiento y escalables. <br><br>

                Uno de los logros más destacados en mi trayectoria fue el diseño de la interfaz front-end de una aplicación móvil dedicada al seguimiento de avistamientos de tiburones y mantarrayas. Además, cuento con experiencia en el diseño de bases de datos en PostgreSQL y una sólida comprensión de los principios de desarrollo SOLID. En mis proyectos, gestiono eficazmente el control de versiones utilizando Git y GitHub. Además, para mi trabajo de grado, realicé una monografía investigativa en la cual analicé y clasifiqué las 50 herramientas mejor valoradas en el mercado para garantizar la seguridad de la información.</p>
            </div>
            <div class="about-details-container">
              <div class="about-containers">
                <div class="details-container">
                  <img src="assets/images/experience.png" alt="icono experiencia" class="icon">
                  <h4>Experiencia</h4>
                  <p>2+ años de <br/>FullStack</p>
                </div>
                <div class="details-container">
                  <img src="assets/images/education.png" alt="icono educacion" class="icon">
                  <h4>Educacion</h4>
                  <p>Universidad Santo Tomas – Tunja <br/>Ingeniero de sistemas</p>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
      <hr>
      <section id="experience">
        <h4 class="title">Herramientas que Manejo</h4>
        <div class="experience-details-container">
          <div class="about-containers2">
            <div class="details-container2">
              <h4 class="experience-sub-title">Frontend Development</h4>
              <div class="article-container">
                <article>
                  <img
                    src="assets/images/Tools/html.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>HTML</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/css.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>CSS</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/boostrap.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>Bootstrap</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/javascript.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>JavaScript</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/typescript.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>TypeScript</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/angular.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>Angular</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/android.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>Android Studio</h5>
                    <p>1 año</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/figma.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>Figma</h5>
                    <p>2 años</p>
                  </div>
                </article>
              </div>
            </div>
            <div class="details-container2">
              <h4 class="experience-sub-title">BackEnd Development</h4>
              <div class="article-container">
                <article>
                  <img
                    src="assets/images/Tools/net.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>.Net</h5>
                    <p>1 año</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/csharp.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>C#</h5>
                    <p>1 año</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/java.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>Java</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/asp.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>ASP.NET Core</h5>
                    <p>1 año</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/sql.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>SQL</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/sqlserver.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>SQL Server</h5>
                    <p>1 año</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/git.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>Git</h5>
                    <p>2 años</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/postgresql.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>PostgreSQL</h5>
                    <p>1 año</p>
                  </div>
                </article>
                <article>
                  <img
                    src="assets/images/Tools/nodejs.webp"
                    alt="Experience icon"
                    class="icon"
                    loading="lazy"
                  />
                  <div>
                    <h5>Node JS</h5>
                    <p>1 año</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</section>
